html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  color: #222;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

a{
  text-decoration: none;
  color: #4E85BE;
}

a:hover{
  border-bottom: 1px dotted #000;
}

#container{
  width: 70%;
  height: 100%;
  margin: 0 auto;
  min-width: 1280px;
}

#menu{
    float:left;
    height: 100%;
    width: 20%;
    font-family: Century Gothic, sans-serif;
    min-width: 250px;
}

#menu a h1{
  font-size: 70px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0px;
  color: #222;
}

#menu a h1:first-of-type{
  letter-spacing: 22px;
  margin-bottom: -10px;
}

#menu span{
  font-weight: lighter;
  font-size: 70px;
  color: #EAEAEA;
  letter-spacing: 0px;
}

#menu span:first-of-type{
  letter-spacing: inherit;
}

#list h2{
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

#list h2:first-of-type{
  margin-top: 5px;
}

#list{
  margin-top: 20px;
  padding: 20px 10px;
  border-top: 1px solid #aaa;
  width: 75%;
}

#list a{
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
}


.right{
  text-align: right;
}

/*
  Contents
*/

#contents{
  float:left;
  width: 65%;
  min-height: 100%;
  border-left: 1px solid #ccc;
  padding: 30px;
  padding-left: 80px;
  font-size: 18px;
  line-height: 30px;
  color: #333;
}

#contents h1, #contents .h1{
  font-size: 50px;
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  line-height: 60px;
}

#contents img{
  margin: 20px auto;
  clear: both;
  display: block;
  padding: 1px;
  max-height: 410px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-size: 50px;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
