//output:../index.html
doctype html
html(lang="en", class="")

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='HandheldFriendly', content='true')
    
    title MCKMC
    link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheet', href='bower_components/alertify/themes/alertify.core.css')
    link(rel='stylesheet', href='bower_components/alertify/themes/alertify.default.css')
    
    script(src='bower_components/isMobile/isMobile.min.js')
    script(src='bower_components/alertify/alertify.min.js')
    script(src='bower_components/modernizr/modernizr.js')
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/typed.js/dist/typed.min.js')
    script(src='bower_components/marked/marked.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js')
    script(src='js/app.js')
  body(ng-app="mckmc")
    #container(ng-controller="ListController", ng-class="mobile")
      #menu(ng-class="mobile")
        a(href="/")
          h1 M
            span I
            | CK
          h1 M
            span UZA
            | C
        #list
          h2 Primary Developer
          div(ng-repeat="doc in docs.primary")
            a(href="", ng-click="loadDoc(doc.name, 'docs/primary/')") {{doc.title}}
          h2 Team Projects
          div(ng-repeat="doc in docs.team")
            a(href="", ng-click="loadDoc(doc.name, 'docs/team/')") {{doc.title}}
          div
            a(href="http://www.eecs.ucf.edu/seniordesign/sp2012su2012/g07/members.html", target="_blank") RADSAT
          h2 Find Me on
          div
            a(href="https://github.com/mickmuzac") Github
          div
            a(href="https://www.hackerrank.com/mickmuzac") HackerRank
          div
            a(href="https://www.linkedin.com/in/mickmuzac") LinkedIn
          div
            a(href="https://www.reddit.com/user/impressflow/") Reddit
        
      #contents(ng-bind-html="contents", ng-class="mobile", ng-click="hideMenu()")
      script(type="text/javascript").
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-30382402-2', 'auto');
        ga('send', 'pageview');
