<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="HandheldFriendly" content="true">
    <title>MCKMC</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="bower_components/alertify/themes/alertify.core.css">
    <link rel="stylesheet" href="bower_components/alertify/themes/alertify.default.css">
    <script src="bower_components/isMobile/isMobile.min.js"></script>
    <script src="bower_components/alertify/alertify.min.js"></script>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/typed.js/dist/typed.min.js"></script>
    <script src="bower_components/marked/marked.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="mckmc">
    <div id="container" ng-controller="ListController" ng-class="mobile">
      <div id="menu" ng-class="mobile"><a href="/">
          <h1>M<span>I</span>CK</h1>
          <h1>M<span>UZA</span>C</h1></a>
        <div id="list">
          <h2>Primary Developer</h2>
          <div ng-repeat="doc in docs.primary"><a href="" ng-click="loadDoc(doc.name, 'docs/primary/')">{{doc.title}}</a></div>
          <h2>Team Projects</h2>
          <div ng-repeat="doc in docs.team"><a href="" ng-click="loadDoc(doc.name, 'docs/team/')">{{doc.title}}</a></div>
          <div><a href="http://www.eecs.ucf.edu/seniordesign/sp2012su2012/g07/members.html" target="_blank">RADSAT</a></div>
          <h2>Find Me on</h2>
          <div><a href="https://github.com/mickmuzac">Github</a></div>
          <div><a href="https://www.hackerrank.com/mickmuzac">HackerRank</a></div>
          <div><a href="https://www.linkedin.com/in/mickmuzac">LinkedIn      </a></div>
          <div><a href="https://www.reddit.com/user/impressflow/">Reddit      </a></div>
        </div>
      </div>
      <div id="contents" ng-bind-html="contents" ng-class="mobile" ng-click="hideMenu()"></div>
    </div>
  </body>
</html>